
.navbar{
    background-color: #d75455;
    height: 50px;
    display: block;
}
.navbar .nav-list{
    z-index: 0;
    display: block;

}
.navbar .nav-list li{
    list-style: none;
    float: left;
    width: 80px;
    /* margin-left: 30px; */
}
.navbar .nav-list .search{
    width: 350px;
    float: left;
}
.navbar .nav-list a{
    display: block;
    color: white;
    line-height: 50px;
    text-align: center;
    text-decoration-line: none;
    font-size: 16px;
}
.navbar .nav-list .list:hover{
    /* color: #1ABC9C; */
    height: 50px;
    background-color: #ec6a6b;
}

/* .navbar .nav-list .active{
    height: 50px;
    background-color:#921600;
} */
.navbar input:checked~.nav-list {
    position: absolute;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
     display: block;
     background-color: #d75455;
     z-index: 0;
     margin-top: 50px;

}
.navbar input:checked~.nav-list li{
 clear: both;
 background-color: #d75455;

}
.navbar label{
    display: none;
}
.navbar .nav-toggle{
    display: none;
}
@media screen and (max-width: 600px) {
    .navbar .nav-toggle{
        display: none;
    }
    .navbar label{
        display: block;
        z-index: 4;
    }
    .navbar .nav-list{
        display: none;
        margin-left: 0px;
    }
    .navbar .nav-list li{
        margin-left: 0px;
    }
    .navbar  .menu-icon{
         display: block;
         float: left;
         width: 36px;
         height: 26px;
         line-height: 0;
         padding-top: 10px;
         text-align: center;

    }
    .navbar  .menu-icon>svg path{
         fill: white;
    }
    .navbar  label[for="nav-toggler"] {
         display: block;
         float: left;
         width: 36px;
         height: 36px;
         z-index: 2;
         cursor: pointer;
     }
}

.loginpanel{
    width: 300px;
    height: 350px;
    margin: auto;  position: absolute;  top: 0; left: 0; bottom: 0; right: 0;
}
.head{
    width: 300px;
    height: 50px;
}
.head h1{
    display: inline;
    text-align: center;
}
.login-tag p{
text-align: center;
line-height: 1.5em;
}
.login-form{
    margin-top: 30px;
}
.consult-category .panel-body{
    width: 500px;
}
.consult-category{
    line-height: 3em;
}
.consult-category .tag{
    color: #d75455;
    font-size: 14px;
}
.consult-category .date{
    float: left;
    margin-left: 0;
    width: 200px;
    height: 30px; 
    clear: right;
    margin-bottom: 5px;
    margin-left: 10px;
}
.consult-category a{
    margin-left: 10px;
    color: #33221f;
    /* line-height: 2em; */
}
.consult-category a:hover{
    color: #d75455;
    text-decoration: none;
}
.consult-category{
    width: 580px;
}
.contains .panel{
    float: left;
    margin-left: 10px;
}
.contains{
    width: 960px;
    margin: auto;  position: relative;  top: 0; left: 0; bottom: 0; right: 0;
    margin-bottom: 100px;
}
.qualification,
.tag,
.instr
{
    color: #979292;
    font-size: 12px;
}

.board-title-h1{
    font-weight: bold;
    font-size: 20px;
}
.intr{
    font-size: 12px;
}

.consult-panel .panel-body{
    width: 500px;
    margin: auto;  position: relative;  top: 0; left: 0; bottom: 0; right: 0;
}
.consult-panel{
    width: 580px;
    height: 1300px;;
}
.consult-panel .name{
    font-size: 16px;
}
.app-state-able,.app-state-disable{
    display: block;
    text-align: center;
    width: 4em;
    line-height: 1.5em;
    
    color: #ffffff;
    border-radius: 5px;
    float: left;
    margin-right: 10px;
}
.app-state-able{
    background-color: #d75455;
}
.app-state-disable{
    background-color: #e8d1d2;
}
.crightlist-detail .num{
    /* display: block; */
    color: #d75455;
    /* float: left; */
    /* padding-left: 10px; */
}
.data span{
    padding-left: 5px;
}
.data{
    margin-top: 5px;
}
.app-state-able:hover{
    text-decoration: none;
    background-color: #e26162;
}
.timetable{
    margin-top: 5px;
}
.timetable .time-cell-able,
.timetable .time-cell-disable
{   display: block;
    width: 3em;
    line-height: 1.5em;
    float: left;
    margin-left: 5px;
    margin-top: 4px;
}
.timetable .time-cell-able{
    background-color: #ec6a6b;
}
.timetable .time-cell-disable{
    background-color: #e8d1d2;
}
.timetable .time-cell-able a,
.timetable .time-cell-disable a
{   
    display: block;
    text-align: center;
}
.timetable .time-cell-able a{
    color: #ec6a6b;
}
.timetable .time-cell-disable a{
    color: #e8d1d2;
}
.timetable .time-cell-able a:hover{
    color: #ffffff;
}
.timetable .time-cell-disable a:hover{
    color: #ffffff;
}
.timetable .time-cell-able a:hover,
.timetable .time-cell-disable a:hover
{
    text-decoration: none;
}
.timetable{
    width: 200px;
}
.cleftlist-consultant{
    margin-top: 10px;
    width: 360px;
    height: 80px;
}
.crightlist-consultant a:hover{
    text-decoration: none;
    color: #ffffff;
}
.crightlist-consultant{
    width: 500px;
    height: 140px;
    /* margin-top: 10px; */
}
.button-pager{
    /* display: block; */
    width: 300px;
    clear: both;
    margin: auto 0;
    /* background-color: #000000; */
}
.footer{
    /* width: 1920px; */
    height: 360px;
    background-image: none;
    background-color: #33221f;
}
.footer .container{
    width: 750px;
    margin: auto;  position: relative;  top: 0; left: 0; bottom: 0; right: 0;
}
.footer a{
    color: #ffffff;
}
.footer a:hover{
    color: #d75455;
    text-decoration: none;
}
#footer-social-account,
#footer-link,
#footer-contact,
.feedback
{
    float: left;
    line-height: 1.5em;
}
#footer-link,
#footer-contact
{
    margin-left: 60px;
    font-size: 12px;
}
.feedback{
    margin-left: 90px;
}
.footer-title-h1{
    font-size: 20px;
    color: #ffffff;
    line-height: 1.5em;
}
.up-part{
    height: 150px;
    margin-top: 80px;
}
#footer-contact .tel,
#footer-contact .phone,
#footer-contact .add
{
 color: #ffffff;
 line-height: 2em;
}
#footer-social-account img{
    margin-right: 10px;
}
.button-part{
    width: 750px;
    margin: auto;  position: relative;  top: 0; left: 0; bottom: 0; right: 0;
}
.button-part span{
    color: #883231;
    font-weight: bold;
}
.button-part .footer-icp{
    display: block;
    text-align: center;
    width: 750px;
}
#footer-contact .icon{
    width: 1em;
}